body {
    background-color: cadetblue;
}

h1 {
    color: black;
}

p {
    color: darkred;
} 

em {
    color: black;
}

.form-example {
    
    background-color: blanchedalmond;
    border-radius: 3px;
    padding: 10px;
    width: 60%;

}

 .nav {
    display: flex;
    width: 100%;
} 

.nav ul {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    
}

.nav li {
    display: inline-block;
    padding: 30px;
    

}

#wrapper {
    margin: auto;
    width: 96vw;
}

.nav a:link {
    text-decoration: none;
}

.nav a:hover {
    color: black;
}