body {
    background-color: cadetblue;
}

h1 {
    color: black;
}

p {
    color: darkred;
} 

em {
    color: black;
}

form {
    border-style: solid 2px black;
}

#wrapper {
    margin: auto;
    width: 50%;
}

.nav a:link {
    text-decoration: none;
}

.nav a:hover {
    color: black;
}